@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");


* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #094176;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --pink: #FF69B4; /* Pink color */
  --yellow: #e9e904; /* Yellow color */
  --green: #0a940a; /* Green color */
}
body {
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .container {
    position: relative;
    width: 100%;
  }
  
 