body{
font-family: Arial, sans-serif;
background-color: #65e2eb2c;
margin: 0;
padding: 0;
}


.menu-btn {
position: fixed;
top: 20px;
left: 20px;
color: #0c0c0c;
padding: 10px 20px;
cursor: pointer;

}

.menu {
position: fixed;

left: -250px;
width: 250px;
height: 75%;
background-color: #07415a;
transition: left 0.3s ease;
z-index: 9999;
}


.menu ul {
list-style: none;
padding: 0;
margin-top: 50%;
}

.menu ul li {
padding: 10px 20px;
margin: 10px;
}

.menu ul li a {
color: #fff;
text-decoration: none;
display: block;
}
.menu-icon {
color: #0e0e0e; 
}
.menu-icon.active {
color: #ebe1e1; 
}

.container {
max-width: 600px;
margin: 20px auto;
background-color: #9fe3e9;
padding: 20px;
border-radius: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
background-color: rgba(83, 232, 214, 0.4); 

animation-name: slideInFromTop;
animation-duration: 0.5s;
animation-timing-function: ease-out;
}

@keyframes slideInFromTop {
from {
    transform: translateY(-50px);
    opacity: 0;
}
to {
    transform: translateY(0);
    opacity: 1;
}
}
h1 {
text-align: center;
color: #333;
}

.personal-info {
margin-bottom: 20px;
}

.personal-info label {
font-weight: bold;
color: rgb(28, 29, 28);
}

.personal-info p {
margin: 5px 0;
}
