body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
}

.dashboard {
  background-color: #0F3559;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.dashboard ul {
  list-style-type: none;
  padding: 0;
}

.dashboard ul li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 80px;
}

.dashboard ul li a {
  color: #fff;
  text-decoration: none;
}

.user-icon {
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: fixed;
  background-image: url("img/asiri.png"); 
  background-size: cover; 
  background-position: center; 
  border-radius: 50%; 
  
}


.content {
  padding: 20px;
  flex: 1;
  background-color: #f0f0f0;
}

h2 {
  color: #333;
}

h3 {
  color: #0F3559;
  text-align: center;
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 150px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
textarea,
select {
  width: calc(100% - 160px);
  padding: 5px;
  border-radius: 40px;
  border: 1px solid #ccc;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
textarea {
  height: 30px;
}

select {
  height: 34px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #99E2DD;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.dashboard-logo {
  width: 200px; 
  height: auto; 
  opacity: 0.8;
  border-radius: 20px;
}
button-container {
  text-align: center; 
 
}

.button-container button {
  margin: 0 10px; 
  border-radius: 20px;
  padding: 10px 20px;
}

#gender {
 width: 80px;
}

body, input, select, textarea, button {
  font-weight: bold; 
}

.button-container button:nth-of-type(1) {
  background-color: #ff6347; 
  color: #fff; 
}


.button-container button:nth-of-type(2) {
  background-color: #6495ed; 
  color: #fff; 
}


.button-container button:nth-of-type(3) {
  background-color: #ffd700; 
  color: #333; 
}

